/***********************************************************************************************************************
    BASE
***********************************************************************************************************************/
:root {
    --kj-fris-blauw: #3CB5E5;
    --kj-zakelijk-blauw: #0A2643;
    --kj-actief-rood: #CF3338;
    --kj-serieus-grijs: #3F3F3F;
}

/***********************************************************************************************************************
    BACKGROUND
***********************************************************************************************************************/
body {
    background: #FFFFFF;
}

.login6-background {
    background-color: #0A2643;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: local !important;
}

.kj-passwordforgetwrapper {
    display:none;
}